<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>EthereumDAPP_PoC</display-name>
	<!--<servlet>
    	<display-name>EthereumNodeConnectorServlet</display-name>
    	<servlet-name>EthereumNodeConnectorServlet</servlet-name>
    	<servlet-class>com.projects.blockchain.ethereum.poc.node_connector.EthereumNodeConnectorServlet</servlet-class>
  	</servlet>-->
  	<context-param>
    	<param-name>NodeURL</param-name>
    	<param-value>http://localhost:8545</param-value>
    </context-param>
    <context-param>
    	<param-name>AccountPassword</param-name>
    	<param-value>xxx</param-value>
    </context-param>
    <context-param>
    	<param-name>WalletFilePath</param-name>
    	<param-value>xxx</param-value>
    </context-param>
    <context-param>
    	<param-name>SenderAccount</param-name>
    	<param-value>0x99fedc28c33a8d00f7f0602baca0d24c3a17d9f6</param-value>
    </context-param>
    <context-param>
    	<param-name>mongoDBHost</param-name>
    	<param-value>localhost</param-value>
  	</context-param>
  	<context-param>
    	<param-name>mongoDBPort</param-name>
    	<param-value>27017</param-value>
  	</context-param>
  	<context-param>
    	<param-name>mongoDBDatabaseName</param-name>
    	<param-value>EventsDatabase</param-value>
  	</context-param>
  	<context-param>
    	<param-name>mongoDBSmartContractEventsCollectionName</param-name>
    	<param-value>SmartContractEventsCollection</param-value>
  	</context-param>
  	<context-param>
    	<param-name>mongoDBEtherTransferEventsCollectionName</param-name>
    	<param-value>EtherTransferEventsCollection</param-value>
  	</context-param>
</web-app>